.mainCard {
  display: flex;
  flex-direction: row;
  width: 49%;
  height: 9em;
  /*margin-top: 3px;*/
  border: 3px solid rgba(1, 0, 0, 0.2);
  border-radius: 10px;

}
.mainCard:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 9px rgba(222, 48, 58, 0.2); 
}
.isOfficial {
  position: absolute;
  text-align: center;
  top: 5.5px; 
  right: 5.5px; 
  color: #106abf;
  width:fit-content;
  font-size: smaller;
  z-index: 10; 
}

.isOfficial .tooltip {
  visibility: hidden;
  width: fit-content;
  background-color: #106abf;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 2px;
  position: absolute;
  z-index: 10 !important;
  left: 70%;
  bottom: 95%;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 1.1em;
  font-weight: 400;
}

.isOfficial:hover .tooltip {
  visibility: visible;
  opacity: 1;
}



.imgContainer {
  width: 22%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
}

.dataContainer {
  width: 78%;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: row;
}
.dataContainer2 {
  display: flex;
  flex-direction: column;
  padding: 5px 15px 0 15px;
}
.imgContainerImg {
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: transparent;
  object-fit: fill;
}

.NameDataContainer,
.DescriptionDataContainer,
.PhoneDataContainer,
.AnnouncementsDataContainer {
  font-family: "PT Sans", sans-serif !important;
}
.NameDataContainer {
  font-size: 1.5em;
  font-weight: 550;
}

.DescriptionDataContainer {
  height: 3em;
  overflow-y: hidden;
  font-size: smaller;
  cursor: default;
  color: rgb(121, 120, 120);

}
.PhoneDataContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1em;
  gap: 4px;
  margin-top: 1%;
  color: #106abf;
}

.PhoneDataContainer span {
  font-size: 1em;
  color: rgba(88, 88, 88, 0.948);
}

.AnnouncementsDataContainer {
  font-size: 0.88em;
  color: #106abf;
  margin-top: 1.3%;
  cursor: pointer;
}

.hr {
  height: 100%;
  width: 1px;
  background: rgba(1, 0, 0, 0.2);
}



@media (max-width: 1400px) {
  .mainCard {
    display: flex;
    flex-direction: row;
    width: 49%;
    height: 9em;
    border: 2px solid rgba(1, 0, 0, 0.2);
    border-radius: 10px;
  }
  .imgContainer {
    width: 25%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .dataContainer {
    width: 75%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 1200px) {
  .mainCard {
    display: flex;
    flex-direction: row;
    width: 48%;
    height: 9em;
    border: 2px solid rgba(1, 0, 0, 0.2);
    border-radius: 10px;
  }
  .imgContainer {
    width: 30%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .dataContainer {
    width: 70%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 990px) {
  .mainCard {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 9em;
    border: 2px solid rgba(1, 0, 0, 0.2);
    border-radius: 10px;
  }
  .imgContainer {
    width: 30%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .dataContainer {
    width: 70%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: row;
  }
}


.dealership-card-dark{
  border: 3px solid rgba(250,255, 255, 0.2);

  .dataContainer{

    .dataContainer2{
      .NameDataContainer,.DescriptionDataContainer{
        color:#f5f5f5;
      }
      .AnnouncementsDataContainer{
       color: #c1c1c1;
      }
      .PhoneDataContainer{
        span{
          color: #c1c1c1;
        }
      }
    }
  }
}