/*Salon div css*/

.salonMainDiv {
    width: 100%;
    min-height: 150px;
    border-radius: 5px;
    border: #D13539 1px solid;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1);
    padding: 30px;

    display: flex;
    flex-direction: column;
}

.salonMainDivHR {
    background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0.4)
    );
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

/*Top*/
.salonMainTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
}

.salonMainTop1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 5%;
}

.imgTopSalon {
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

.spanTopSalon {
    font-size: 1.2em;
    font-weight: 500;
}

.callButtonTopSalon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0%;
    border: none;
    border-radius: 5px;
    min-height: 2em;
    background-color: #3db460;
    color: white;
    font-size: 1.1em;
    font-weight: 430;
}

/*Center*/
.salonMainCenter {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

.salonMainCenterSpan {
    font-size: 1.2em;
    font-weight: 400;
}

.salonMainCenterSpan2 {
    font-size: 1.05em;
    font-weight: 400;
    text-decoration: underline;
}

.salonMainCenterDescription {
    max-height: 7em;
    overflow-y: auto;
    color: gray;
    font-size: small;
}

/*Bottom*/
.salonMainBottom {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

.salonMainBottom2 {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.salonMainBottomDate {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.salonMainBottomAdress {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.salonMainBottomButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2%;
    border: none;
    border-radius: 5px;
    min-height: 2.6em;
    background-color: #D13539;
    color: white;
    font-size: 1.1em;
    font-weight: 400;
}

.svgbottom {
    color: #D13539;
}

.spanBottom {
    color: rgb(71, 67, 67);
}


/* User Div */

.UserDiv {
    width: 100%;
    min-height: 150px;
    border-radius: 5px;
    border: #D13539 1px solid;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.UserDivTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.UserInfo {
    display: flex;
    flex-direction: column;
}


.imgTopUser {
    height: 60px;
    width: 60px;
    border-radius: 50px;
}

.callButtonTopUser {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0%;
    border: none;
    border-radius: 5px;
    min-height: 2em;
    background-color: #3db460;
    color: white;
    font-size: 1.1em;
    font-weight: 430;
}

.UserName {
    font-weight: 400;
    font-size: 1.2em;
}

.UserCity {
    font-weight: 300;
    font-size: 1.1em;
    color: gray;
}


.salon-contact-dark {
    background-color: #0e1111;
    .salonMainTop {

        .salonMainTop1 {

            .spanTopSalon {
                color: #f6f6f6;
            }
        }
    }

    .salonMainCenter {
        .salonMainCenterSpan, .salonMainCenterDescription, .salonMainCenterSpan2 {
            color: #f6f6f6;
        }
    }

    .salonMainBottom {
        .salonMainBottom2 {
            .salonMainBottomDate {
                .spanBottom {
                    color: #f6f6f6;
                }
            }
            .salonMainBottomAdress{
                .spanBottom{
                    color: #f6f6f6;
                }
            }
        }
    }
}

.user-contact-dark{
    background-color: #0e1111;
    .UserDivTop{
        .UserInfo{
            .UserName,.UserCity{
                color:#f6f6f6;
            }
        }
    }
}