.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}



.auth-details-card{
    height: 90vh !important;
}
.clip-board{
    height: 90vh !important;
}

.main-auth-page-dark{
    background-color: #573030 !important;

    .auth-login-card{
        background-color: #4e3333 !important;
    }
}

.main-auth-page-dark:before{
    background-color: #4e3333 !important;
}