@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600&display=swap");

.app-container {
    display: flex;
    flex-direction: column;
    height:100vh;
}

.app-container-dark{
    display: flex;
    flex-direction: column;
    height:100vh;
    background-color:#121212;
}

.font{
    font-family: 'PT Sans', sans-serif !important;
    font-size: 100% !important;
}

.azerbaijani-font {
    font-family: "Helvetica",'PT Sans', sans-serif !important;
    font-size: 100% !important;
}

.russian-font {
    font-family: 'PT Sans', sans-serif !important;
    font-size: 100% !important;
}

.turkish-font {
    font-family: 'PT Sans', sans-serif !important;
    font-size: 100% !important;
}



@media screen and (max-width: 500px) {
    body {
        font-size: 80% !important;
    }
    .custom-dropdown {
        font-size: 86% !important;
        padding:6px 5px  !important;
        white-space: normal;
    }
    .custom-dropdown-with-checkboxes {
        font-size: 82% !important;
        padding: 6px 5px !important;
        white-space: normal;
    }
}