
.btn-square {
    padding: .4rem;
    font-size: 14px;
}

.nav {
    margin-bottom: 5px;
}

.search-box {
    display: none;
    position: absolute;
    top: 100%;
    right: 40%;
    transform: translateY(100%);
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 1.5px 1.5px 0px 1.5px rgba(245, 45, 0,.76);
    transition: all 0.3s ease-out;
    animation: fade-in-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-box.show {
    display: inline-block ;
    transform: translateY(0);
}

.nav-item.active a{
    color:#f54114 !important;
}

@keyframes fade-in-bottom {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav-item a{
    text-align: center;
}

.nav-search-input {
    width: 20rem !important;
    height: 30px;
    padding: 0 1em;
    border: 1px solid #d4e3f9;
    background-color: #f3f7fd;
    opacity: 1;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-size: 14px;
}





.toggle {
    position: relative;
    width: 50px;
    height: 30px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
.toggle:before {

    content: "";
    text-align: right;
    position: relative;
    top: 3px;
    left: 3px;
    width: 50px;
    height: 22px;
    font-size: 10px;
    display: block;
    background: #e6e6e6;
    border-radius: 30px;
    -webkit-transition: background .2s ease;
    -o-transition: background .2s ease;
    transition: background .2s ease;
    padding: 2px 8px; }
.toggle span {

    position: absolute;
    top: 2px;
    left: 0;
    width: 24px;
    height: 24px;
    display: block;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease; }
.toggle span:before {
    font-family: 'Fontawesome';
    content: '\f186';
    position: absolute;
    display: block;
    margin: 0;
    width: 24px;
    height: 24px;
    background: #000;
    border-radius: 50%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    pointer-events: none;
    color: #fff;
    padding: 0 2px;
}


#cbx:checked + .toggle:before,
#cbx2:checked + .toggle:before {
    background: #f6d379;
    content: '';
    text-align: left;
    color: #fff; }

#cbx:checked + .toggle span,
#cbx2:checked + .toggle span {
    background: #f1bc31;
    -webkit-transform: translateX(31px);
    -ms-transform: translateX(31px);
    transform: translateX(31px);
    -webkit-transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    -o-transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    -webkit-box-shadow: 0 3px 8px rgba(241, 188, 49, 0.7);
    box-shadow: 0 3px 8px rgba(241, 188, 49, 0.7); }
#cbx:checked + .toggle span:before,
#cbx2:checked + .toggle span:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    font-family: 'Fontawesome';
    content: '\f185';
    padding: 2px 3px;
    background: #f1bc31;
    color: #000;
}






@media only screen and (max-width: 380px) {
    .navbar-brand img {
        max-width: 160px;
    }
}


@media (max-width: 372px) {
    .navbar-brand {
        padding: 0;
        margin: 0 !important;
    }

    .navbar-brand img {
        max-width: 40px;
    }

    .sidebar-toggle.sidebar-toggle-responsive {
        display: none;
    }

    a.navbar-brand > span {
        font-size: 1.3rem !important;
    }

}


@media only screen and (max-width: 1200px) {
    .header-user-info {
        display: none !important;
    }
}

@media only screen and (max-width: 768px) {
    .nav-search-input {
        width: 11rem !important;
    }

}

