@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  filter: blur(10px);
  background-position: center;
}

.image-container img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  z-index: 2;
}

.premium-announcement-detail {
  border: 6px solid #f54114;
}

.carousel-inner {
  border-radius: 16px;
  text-align: center;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
}

.carousel-control-prev {
  z-index: 3;
}

.carousel-control-next {
  z-index: 3;
}

.carousel-indicators {
  z-index: 3;
}

.vehicle-details-li {
  background-color: transparent;
}

.thumbnail-container {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  /*margin:5px;*/ /* CHECK THIS */
  margin-left: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
}

.thumbnail-container:hover {
  opacity: 1;
}

.thumbnail-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-content-announcement-details {
  border: 0;
  /*min-height: 720px;*/
}
.modal-body-announcement-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
}

.modal {
  padding: 0 !important;
}

.modal-dialog-fullscreen {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  max-width: none;
}

.modal-image-container {
  position: relative;
  overflow: hidden;
  background-color: black !important;
}

.modal-image {
  width: 100%;
  height: auto;
  max-height: 90vh;
  object-fit: contain;
  cursor: pointer;
}

.thumbnails-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.modal-open .thumbnail-image {
  width: 50px;
  height: 50px;
  margin: 2px 5px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;

  &:hover {
    opacity: 1;
  }

  &.active {
    border: 2px solid black;
    opacity: 1;
    transform: scale(1.15);
  }
}

.badge-custom {
  background-color: #f54114;
  color: #ffffff;
  font-size: 0.75rem;
  opacity: 0.85;
  cursor: pointer;
}

.badge-custom:hover {
  opacity: 1;
}

.active-tab {
  opacity: 1 !important;
  visibility: visible !important;
  max-height: 100rem !important;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out,
    max-height 0.5s ease-in-out;
}

.fade-in-element {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out,
    max-height 1s ease-in-out;
}

html,
body {
  /*background: #fff;*/
  /*font-family: 'Poppins', sans-serif;*/
}

.close-button {
  background-color: transparent !important;
  border: 0;
  position: absolute;
  top: 40px;
  right: 30px;
  z-index: 1;
  transform: translateY(-50%);
}

.close-button span {
  color: white;
  font-size: 75px;
  background-color: transparent;
}

.btn-close {
  color: white !important;
}

/*
--------------------------------------------
Our Classes
--------------------------------------------
*/

#our-classes {
  margin-bottom: 140px;
}

#tabs {
  font-family: "Poppins", sans-serif;
}

#tabs ul {
  margin: 0;
  padding: 0;
}

#tabs ul li {
  margin-bottom: 30px;
  display: inline-block;
  width: 100%;
}

#tabs ul li:last-child {
  margin-bottom: 0px;
}

#tabs ul li a {
  text-transform: capitalize;
  width: 100%;
  padding: 30px 30px;
  display: inline-block;
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 19px;
  color: #232d39;
  letter-spacing: 0.5px;
  font-weight: 600;
  transition: all 0.3s;
}

#tabs .main-rounded-button a {
  text-align: center;
  padding: 20px 30px;
  width: 100%;
  border-radius: 5px;
  display: inline-block;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 19px;
  letter-spacing: 0.5px;
  font-weight: 600;
  background-color: #D13539;
}

#tabs .main-rounded-button a:hover {
  background-color: #f9735b;
}

#tabs ul li a .fa {
  font-size: 32px;
  height: 32px;
  color: #D13539 !important; /*-----------------------------------------------------*/
  margin-right: 15px;
  display: inline-block;
}

#tabs ul .ui-tabs-active span {
  background: #faf5b2;
  border: #faf5b2;
  line-height: 90px;
  border-bottom: none;
}

#tabs ul .ui-tabs-active a {
  color: #D13539 ;
}

#tabs ul .ui-tabs-active span {
  color: #1e1e1e;
}

.tabs-content {
  margin-left: 30px;
  text-align: left;
  display: inline-block;
  transition: all 0.3s;
}

.tabs-content img {
  max-width: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.tabs-content h4 {
  font-size: 23px;
  font-weight: 700;
  color: #232d39;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.tabs-content p {
  font-size: 14px;
  color: #7a7a7a;
  margin-bottom: 28px;
}

#vin-code {
  margin-left: 10px !important;
}

@media (max-width: 768px) {
  .close-button {
    right: 0px;
  }

  .thumbnails-container {
    display: none;
  }

  .main-price {
    font-size: 1.4em !important;
    text-align: center !important;
  }

  .fade.modal.show {
    background-color: black !important;
  }

  .modal-open .thumbnail-image {
    width: 50px;
    height: 50px;
    margin: 2px 5px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;

    &:hover {
      opacity: 1;
    }

    &.active {
      border: 2px solid black;
    }
  }

  .modal-image {
    max-height: 90vh;
    object-fit: cover;
    cursor: pointer;
  }

  #vin-code {
    margin: 0 !important;
    font-size: 12px !important;
  }

  #tabs ul li a {
    padding: 20px 15px !important;
  }
}

/*Salon div css*/

.salonMainDiv {
  width: 100%;
  min-height: 150px;
  border-radius: 5px;
  border: #D13539 1px solid;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1);
  padding: 30px;

  display: flex;
  flex-direction: column;
}

.salonMainDivHR {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.4)
  );
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

/*Top*/
.salonMainTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}

.salonMainTop1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 5%;
}

.imgTopSalon {
  height: 50px;
  width: 50px;
  border-radius: 10px;
}

.spanTopSalon {
  font-size: 1.2em;
  font-weight: 500;
}

.callButtonTopSalon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2%;
  border: none;
  border-radius: 5px;
  min-height: 2em;
  background-color: #3db460;
  color: white;
  font-size: 1.1em;
  font-weight: 430;
}

/*Center*/
.salonMainCenter {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.salonMainCenterSpan {
  font-size: 1.2em;
  font-weight: 400;
}

.salonMainCenterSpan2 {
  font-size: 1.05em;
  font-weight: 400;
  text-decoration: underline;
}

.salonMainCenterDescription {
  max-height: 7em;
  overflow-y: auto;
  color: gray;
  font-size: small;
}

/*Bottom*/
.salonMainBottom {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.salonMainBottom2 {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
.salonMainBottomDate {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.salonMainBottomAdress {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}
.salonMainBottomButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2%;
  border: none;
  border-radius: 5px;
  min-height: 2.6em;
  background-color: #D13539;
  color: white;
  font-size: 1.1em;
  font-weight: 400;
}
.svgbottom {
  color: #D13539;
}
.spanBottom {
  color: rgb(71, 67, 67);
}

/* scrollbar css */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #D13539;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #D13539;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #D13539 transparent;
}
