.loading-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.spinner-container {
    text-align: center;
}


.loading-page-dark{
    background-color: #3a3a3a;
}
.spinner-container{
    .spinner-border{
        color:rgba(222, 48, 58,1) !important;
    }
}